body{
	font-family: 'Raleway', sans-serif;
	color: #000;
}

#container{
	width:100%;
	margin:auto;
}
#container h2{
	text-align:center;
	color:rgb(30,136,229);
	line-height: 1.2;
	font-size:24px;
	white-space: pre-wrap;
}

#quoteContainer{
	width:75%;
	background: #fff;
	padding:10px;
	margin:10px auto;
	text-align: center;
  height:80px;
}
#buttonContainer{
	width: 100%;
	text-align: center;
}
#quoteButton{
	width:200px;
	margin-top: 40px;
	border:2px solid rgb(30,136,229);
	color:#045;
	font-family: inherit;
	font-size: 16px;
	color: #616161;
	padding:5px;
	text-decoration: none;
	text-align: center;
}
a {
    color:rgb(30,136,229);;
}

#quoteButton:hover{
	cursor:pointer;
	background:rgb(30,136,229);
	color: #fff;	
}
#quoteButton:active{
	cursor: pointer;
}
#quoteButton{
	display: inline-block;
}
#quoteGenius{
	font-style: italic;
	font-weight: 600;
	text-align: center;
}


/*MEDIA QUERIES*/
@media screen and(max-width:760px){
	#quoteButton,#addNew{
		display: block;
	}
}